:host ::ng-deep {
  .p-dialog {
    .p-dialog-content {
      overflow-y: auto;
      max-height: 70vh;
    }
  }

  .p-calendar {
    width: 100%;
  }

  .p-inputnumber {
    width: 100%;
  }

  .p-select {
    width: 100%;
  }

  .p-tag {
    font-size: 0.875rem;
  }

  .p-button {
    &.p-button-rounded {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  .p-datatable {
    .p-datatable-tbody > tr > td {
      vertical-align: middle;
    }
  }
}

.text-gray-500 {
  color: #6c757d;
}
