<div class="card flex justify-center mb-2">
  <p-fieldset legend="Gestion de cine">
    <p class="m-0">
      Para crear un nuevo cine haga click en el boton
    </p>
    <p-button label="Nuevo cine" class="w-full" styleClass="w-full"
      (onClick)="this.verDialogoNuevaHabitacion()" />
  </p-fieldset>
</div>



<!-- Panel LISTADO -->
<div class="h-full w-full mb-2">
    <div style="
            display: grid;
            grid-template-columns: repeat(3, minmax(280px, 1fr));
            gap: 1.5rem;
            padding: 1rem;
          ">

    @for (item of  this.paginatedCines(); track $index) {
    <p-card [style]="{
                width: '100%',
                overflow: 'hidden',
                borderRadius: '1rem',
                boxShadow: '0 4px 12px rgba(0,0,0,0.08)'
              }">

      <ng-template #title>
        <span style="font-weight: 600;">Cine  {{ item.nombre }}</span>

      </ng-template>
      <ng-template #subtitle>
        <span style="color: #6b7280;">{{ item.ubicacion }}</span>
      </ng-template>
      <p style="color: #374151; margin: 0.5rem 0;">Telefono {{ item.telefono }}</p>
      <p style="color: #374151; margin: 0.5rem 0;">Cartera {{ item.cartera | currency:'GTQ':'symbol':'1.2-2' }}</p>
<!--
      <div class="card flex justify-center">
        <p-rating [(ngModel)]="item.promedio_valoracion" [readonly]="true"></p-rating>

      </div> -->

      <ng-template #footer>
        <div class="flex gap-4 mt-1">
          <p-button label="Ver comentarios" class="w-full" styleClass="w-full" (click)="showDialog(item.id)" />
          <p-button label="ver salas" class="w-full" styleClass="w-full"
            (onClick)="this.visibleReservacion= true" />

                  <p-button label="Editar cine" class="w-full" styleClass="w-full"
                  severity="warn"
            (onClick)="this.verDialogoEditarCine(item.id)" />
        </div>
      </ng-template>
    </p-card>
    }
  </div>
  <!-- paginator -->
  <div style="margin-top: 1rem; display: flex; justify-content: center;">
        <p-paginator
      [first]="first()"
      [rows]="rows()"
      [totalRecords]="cineServicio.cinesSignal().length"
      [rowsPerPageOptions]="[3, 6, 10]"
      (onPageChange)="onPageChange($event)"
    />
  </div>
</div>


<!-- comentarios en una habitacion-->
<div class="card flex justify-center">
  <p-dialog header="Comentarios" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <div class="card flex justify-content-center">
      <p-accordion value="0">
        @for (item of this.listadoComentarios; track $index) {
        <p-accordion-panel value="$index">
          <p-accordion-header>
            <ng-template #toggleicon let-active="active">
              @if (active) {
              <i class="pi pi-minus"></i>
              } @else {
              <i class="pi pi-plus"></i>
              }
            </ng-template>
            <span class="flex items-center gap-2 w-full">
              <span class="font-bold whitespace-nowrap">Comentario No.{{$index}}</span>
              <p-badge value="{{item.puntuacion}}" class="ml-auto mr-2" />
            </span>
          </p-accordion-header>
          <p-accordion-content>
            <p class="m-0">
              {{item.comentario}}
            </p>
          </p-accordion-content>
        </p-accordion-panel>
        }



      </p-accordion>
    </div>
  </p-dialog>
</div>

<!-- para nuevos cines-->

<div class="card flex justify-center">
  <p-dialog header="Nuevo cine" [modal]="true" [(visible)]="visibleNuevaHabitacion" [style]="{ width: '30rem' }">

    <!-- nombre  -->
    <div class="flex items-center gap-4 mb-3">
      <label for="nombre" class="font-semibold w-32">Nombre del cine</label>
      <input pInputText id="nombre"
        class="flex-auto border border-gray-400 rounded px-2 py-1 focus:border-blue-500 focus:outline-none"
        type="text" [(ngModel)]=this.nombre />
    </div>

    <!-- telefono -->
    <div class="flex items-center gap-4 mb-3">
      <label for="telefono" class="font-semibold w-32">Telefono del cine</label>
      <input pInputText id="telefono"
        class="flex-auto border border-gray-400 rounded px-2 py-1 focus:border-blue-500 focus:outline-none"
        type="tel" [(ngModel)]=this.telefono />
    </div>
 <!-- ubicacion -->
    <div class="flex items-center gap-4 mb-3">
      <label for="ubicacion" class="font-semibold w-32">Ubicacion del cine</label>
      <input pInputText id="ubicacion"
        class="flex-auto border border-gray-400 rounded px-2 py-1 focus:border-blue-500 focus:outline-none"
        type="text" [(ngModel)]=this.ubicacion />
    </div>
    <!-- csoto -->
    <div class="flex items-center gap-4 mb-4">
      <label for="costo" class="font-semibold w-32">Costo diario</label>
      <input pInputText id="costo"
        class="flex-auto border border-gray-400 rounded px-2 py-1 focus:border-blue-500 focus:outline-none"
        type="number" [(ngModel)]=this.costo step="0.01" />
    </div>

    <!-- Precio -->
    <div class="flex items-center gap-4 mb-4">
      <label for="cartera" class="font-semibold w-32">Cartera Inicial</label>
      <input pInputText id="cartera"
        class="flex-auto border border-gray-400 rounded px-2 py-1 focus:border-blue-500 focus:outline-none"
        type="number" [(ngModel)]=this.cartera step="0.01" />
    </div>

    <!-- Botones -->
    <div class="flex justify-end gap-2 mt-4">
      <p-button label="Cancelar" severity="secondary" (click)="visibleNuevaHabitacion = false" />
      <p-button label="Guardar" (click)="guardarCine()" />
    </div>

  </p-dialog>
</div>







<!-- para editar cines-->

<div class="card flex justify-center">
  <p-dialog header="Nuevo cine" [modal]="true" [(visible)]="visibleEditarCine" [style]="{ width: '30rem' }">

    <!-- nombre  -->
    <div class="flex items-center gap-4 mb-3">
      <label for="nombre" class="font-semibold w-32">Nombre del cine</label>
      <input pInputText id="nombre"
        class="flex-auto border border-gray-400 rounded px-2 py-1 focus:border-blue-500 focus:outline-none"
        type="text" [(ngModel)]=this.nombre />
    </div>

    <!-- telefono -->
    <div class="flex items-center gap-4 mb-3">
      <label for="telefono" class="font-semibold w-32">Telefono del cine</label>
      <input pInputText id="telefono"
        class="flex-auto border border-gray-400 rounded px-2 py-1 focus:border-blue-500 focus:outline-none"
        type="tel" [(ngModel)]=this.telefono />
    </div>
 <!-- ubicacion -->
    <div class="flex items-center gap-4 mb-3">
      <label for="ubicacion" class="font-semibold w-32">Ubicacion del cine</label>
      <input pInputText id="ubicacion"
        class="flex-auto border border-gray-400 rounded px-2 py-1 focus:border-blue-500 focus:outline-none"
        type="text" [(ngModel)]=this.ubicacion />
    </div>
    <!-- csoto -->
    <div class="flex items-center gap-4 mb-4">
      <label for="costo" class="font-semibold w-32">Costo diario</label>
      <input pInputText id="costo"
        class="flex-auto border border-gray-400 rounded px-2 py-1 focus:border-blue-500 focus:outline-none"
        type="number" [(ngModel)]=this.costo step="0.01" />
    </div>

    <!-- Precio -->
    <div class="flex items-center gap-4 mb-4">
      <label for="cartera" class="font-semibold w-32">Cartera Inicial</label>
      <input pInputText id="cartera"
        class="flex-auto border border-gray-400 rounded px-2 py-1 focus:border-blue-500 focus:outline-none"
        type="number" [(ngModel)]=this.cartera step="0.01" />
    </div>

    <!-- Botones -->
    <div class="flex justify-end gap-2 mt-4">
      <p-button label="Cancelar" severity="secondary" (click)="visibleEditarCine = false" />
      <p-button label="Guardar" (click)="guardarCine()" />
    </div>

  </p-dialog>
</div>
